
$color-black: #363838;
$color-default: #5A5A5A;
$color-black-gray:#707070;
$color-gray: #DFDFDF;
$color-yellow: #FFEF35;

%title-font{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}